.page-header {
  @include pxRem(padding, 10);
  background: map-get($colors, bg-gray);
  text-align: center;
  .header-menu-item {
    @include pxRem(padding, 10 14);
  }
  .btn.header-button {
    background-color: map-get($colors, white);
    border: 1px solid #333;
    &:hover {
      background-color: map-get($colors, black);
      a {
        color: map-get($colors, white);
      }
    }
  }
}